<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chester  - Responsive And Retina Software Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Your styles -->
    <link href="/content/style.css" rel="stylesheet" media="screen">
    <!-- Skins -->
    <link href="/content/skins/blue/blue.css" rel="stylesheet" media="screen" class="skin">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/content/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/content/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/img/icons/apple-touch-icon-114x114.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- styles for IE -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/content/css/ie/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <!-- Skins Changer-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

</head>
<body>
    <!-- Header-->
    <header>
        <!-- Head-->
        <div class="head">
            <div class="container">
                <div class="row-fluid">
                    <!-- Logo-->
                    <div class="span6 logo">
                        <a href="index.html" title="Back to Home">
                            <!--<h1>Chester</h1>-->
                            <img src="/content/img/logo.png" alt="Logo">
                        </a>
                    </div>
                    <!-- End Logo-->
                    <!-- contact_top-->
                    <div class="span6 display_none">
                        <ul class="contact_top">
                            <li>
                                <span class="color"><i class="icon-envelope"></i></span>
                                <h5><a href="mailto:domain@domain.com">info@domain.co</a></h5>
                            </li>
                            <li>
                                <span class="color"><i class="icon-phone"></i></span>
                                <h5>123 456 789</h5>
                            </li>
                        </ul>
                    </div>
                    <!-- End contact_top-->
                </div>
            </div>
        </div>
        <!-- End Head-->
        <!-- Nav-->
        <nav>
            <div class="container">
                <div class="row-fluid">
                    <!-- Menu-->
                    <ul id="menu" class="sf-menu">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Our Products</a>
                            <ul>
                                <li><a href="windows_version.html">Windows Version</a></li>
                                <li><a href="mac_version.html">Mac Version</a></li>
                                <li><a href="linux_version.html">Linux Version</a></li>
                                <li><a href="mobile_version.html">Mobile Version</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                            <ul>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="single_project.html">Portfolio Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="single_post.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="promotions.html">Promotions</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <!-- End Menu-->
                </div>
            </div>
        </nav>
        <!-- End Nav-->
        <!-- Slide -->
        <div class="camera_wrap" id="slide">

            <!-- Item Slide -->
            <div data-src="/content/img/slide/slides/2.jpg">
                <div class="camera_captionb fadeFromTop">
                    <h1 class="animated fadeInDown delay1">We build brands for local</h1>
                    <h1 class="animated fadeInDown delay2">and international clients</h1>
                    <h1 class="animated fadeInDown delay3">one pixel at a time.</h1>
                </div>
            </div>
            <!-- End Item Slide -->
            <!-- Item Slide -->
            <div data-src="/content/img/slide/slides/1.jpg">
                <div class="camera_caption fadeFromBottom">
                    <div class="container">
                        <div class="row-fluid info animated fadeInUp delay1">
                            <div class="span4">
                                <h1>Our Grea Team</h1>
                            </div>
                            <div class="span6">
                                <p>E PARTNER WITH CREATIVE MINDS AND BIG THINKERS TO ENGINEER AND BUILD AWARD-WINNING INTERACTIVE PROJECTS</p>
                            </div>
                            <div class="span2 more">
                                <a href="about.html" title="Read More">
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img src="/content/img/slide/1.png" alt="Image">
                </div>
            </div>
            <!-- End Item Slide -->
            <!-- Item Slide -->
            <div data-src="/content/img/slide/slides/3.jpg">
                <div class="camera_captionc fadeFromLeft">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span4">
                                <img src="/content/img/slide/2.png" alt="Image">
                            </div>
                            <div class="span8">
                                <h1 class="animated fadeInRight delay1">The road is long, we'll advise!</h1>
                                <p class="animated fadeInRight delay2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                                <a href="#" class="button animated fadeInRight delay3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Slide -->
        </div>
        <!-- End Slide-->
        <!-- Sponsors-->
        <div class="sponsors display_none">
            <div class="container">
                <ul id="sponsors">
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/1.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/2.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/3.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/4.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/5.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/2.png" alt="Image"></a>
                    </li>
                    <li class="item">
                        <a href="#" class="tooltip_hover" title="Name Sponsor"><img src="/content/img/sponsors/2.png" alt="Image"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sponsors-->
    </header>
    <!-- End Header-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
